<body>
  <div class="login-page">
   <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>
          <i class="fa fa-lock" aria-hidden="true"></i>LOGIN
        </h3>
        <p>Please enter your credentials to login.</p>
      </div>
    </div>
     <form class="login-form" role="form" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" 
     name="authenticity_token" value="WH79bfYTKMHHQVMFFSUccpia7l9WDkQIKt6YVNz3dYtJfUQbcOXdMla395Wrurqu/mSC5bxn8vDq4p82IvDQ+g==" />
      <input placeholder="Email Id" autofocus="autofocus" type="email" name="session[email]" id="session_email" />
     <input placeholder="Password" autocomplete="off" type="password" name="session[password]" id="session_password" />
      <button type="submit" name="commit" value="Login">login</button>
      <p class="message">[<a href="/articles">Cancel request and return to articles listing</a> ]</p>
    </form>
  </div>
</div>
</body>