<div class="container">
<h1 align="center">Log in</h1>

<form class="form-horizontal" role="form" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="WH79bfYTKMHHQVMFFSUccpia7l9WDkQIKt6YVNz3dYtJfUQbcOXdMla395Wrurqu/mSC5bxn8vDq4p82IvDQ+g==" />

<div class="form-group">

<div class="control-label col-sm-2">

<label for="session_email">Email</label>

</div>

<div class="col-sm-8">

<input class="form-control" placeholder="Enter email" autofocus="autofocus" type="email" name="session[email]" id="session_email" />

</div>

</div>

<div class="form-group">

<div class="control-label col-sm-2">

<label for="session_password">Password</label>

</div>

<div class="col-sm-8">

<input class="form-control" autocomplete="off" type="password" name="session[password]" id="session_password" />

</div>

</div>

<div class="form-group">

<div class="col-sm-offset-2 col-sm-10">

<input type="submit" name="commit" value="Log in" class="btn btn-primary btn-lg" />

</div>

</div>

</form>
<div class="col-xs-4 col-xs-offset-4">

[ <a href="/articles">Cancel request and return to articles listing</a> ]

</div>
</div>