
<!--

Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/

-->


<h1>This is the about Page</h1>
<%= link_to 'Home', root_path%>
